body {
  font: 16px/1.5 Helvetica Neue, Helvetica, sans-serif;
  margin: 0;
}

form {
  background-color: black;
  color: #fff;
  padding: 10px 25px;
}

h1 {
  margin: 0;
}

a {
  color: #c00;
}

#instaPhoto {
/*	display: flex;
	flex-wrap: wrap;*/
	display: block;
	height: 500px
}

.pics {
/*	  flex: 1 1 200px;*/
	display: inline-block;
	height: 500px;
	width: 500px;
  	margin: 3px;
  	background-size: cover;
}